<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titleHexStr</key>
		<string>#51515</string>
		<key>textHexStr</key>
		<string>#5b5b5b</string>
		<key>bgHexStr</key>
		<string>reader_0</string>
		<key>iconHexStr</key>
		<string>reader_0</string>
		<key>statusHexStr</key>
		<string>#a6a5a1</string>
	</dict>
	<dict>
		<key>titleHexStr</key>
		<string>#6b391e</string>
		<key>textHexStr</key>
		<string>#5e432e</string>
		<key>bgHexStr</key>
		<string>reader_5</string>
		<key>iconHexStr</key>
		<string>reader_5</string>
		<key>statusHexStr</key>
		<string>#a5846c</string>
	</dict>
	<dict>
		<key>titleHexStr</key>
		<string>#6b391e</string>
		<key>textHexStr</key>
		<string>#5e432e</string>
		<key>bgHexStr</key>
		<string>reader_1</string>
		<key>iconHexStr</key>
		<string>reader_1</string>
		<key>statusHexStr</key>
		<string>#a5846c</string>
	</dict>
	<dict>
		<key>titleHexStr</key>
		<string>#8e273d</string>
		<key>textHexStr</key>
		<string>#8e273d</string>
		<key>bgHexStr</key>
		<string>reader_2</string>
		<key>iconHexStr</key>
		<string>reader_2</string>
		<key>statusHexStr</key>
		<string>#c08290</string>
	</dict>
	<dict>
		<key>titleHexStr</key>
		<string>#1f1f1f</string>
		<key>textHexStr</key>
		<string>#333333</string>
		<key>bgHexStr</key>
		<string>reader_3</string>
		<key>iconHexStr</key>
		<string>reader_3</string>
		<key>statusHexStr</key>
		<string>#a6a5a1</string>
	</dict>
	<dict>
		<key>titleHexStr</key>
		<string>#455146</string>
		<key>textHexStr</key>
		<string>#455146</string>
		<key>bgHexStr</key>
		<string>#C1E5C3</string>
		<key>iconHexStr</key>
		<string>#C1E5C3</string>
		<key>statusHexStr</key>
		<string>#9fbda3</string>
	</dict>
	<dict>
		<key>titleHexStr</key>
		<string>#94a5a9</string>
		<key>textHexStr</key>
		<string>#92a3a7</string>
		<key>bgHexStr</key>
		<string>#2f3537</string>
		<key>iconHexStr</key>
		<string>#2f3537</string>
		<key>statusHexStr</key>
		<string>#545e60</string>
	</dict>
	<dict>
		<key>titleHexStr</key>
		<string>#95938f</string>
		<key>textHexStr</key>
		<string>#95938f</string>
		<key>bgHexStr</key>
		<string>#383432</string>
		<key>iconHexStr</key>
		<string>#383432</string>
		<key>statusHexStr</key>
		<string>#686b67</string>
	</dict>
</array>
</plist>
